# Backend API Base URL
NEXT_PUBLIC_API_URL=http://localhost:8000

# Public Production URL
NEXT_PUBLIC_SITE_URL=https://my-resume-amber-alpha.vercel.app

# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fqyxfx6.mongodb.net/
